In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

import warnings
warnings.filterwarnings('ignore')
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score
from sklearn.preprocessing import LabelEncoder
from sklearn.ensemble import RandomForestRegressor

from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import GridSearchCV

import pickle

Matplotlib is building the font cache; this may take a moment.

In [2]:
data = pd.read_csv('house.csv')
data

,TITLE,LOCATION,PRICE,LAND AREA,BUILDUP AREA,ROAD ACCESS,FACING,FLOOR,BEDROOM,BATHROOM,BUILT YEAR,PARKING,AMENITIES
0,House for Sale,"Imadol, Lalitpur",Rs. 2.9 Cr,4.0 aana,NaN,12 Feet,West,3.0,5.0,4.0,2076 B.S,1 CaRs. & 2 Bikes,"['Earthquake Resistant', 'Marbel', 'Parquet', ..."
1,House for Sale,"Satdobato, Lalitpur",Rs. 4.75 Cr,3.0 aana,NaN,10 Feet,West,4.5,5.0,6.0,2076 B.S,2 CaRs. & 2 Bikes,"['Earthquake Resistant', 'Parquet', 'Drinking ..."
2,4 BHK House for Sale,"Imadol, Lalitpur",Rs. 1.99 Cr,2.3 aana,NaN,10 Feet,West,2.5,4.0,4.0,2060 B.S,1 CaRs. & 3 Bikes,"['Earthquake Resistant', 'Marbel', 'Parquet', ..."
3,Bungalow House for Sale,"Bhaisepati, Lalitpur",Rs. 4 Cr,7.0 aana,NaN,12 Feet,North-West,2.5,4.0,3.0,2059 B.S,4 CaRs. & 4 Bikes,"['Earthquake Resistant', 'Marbel', 'Parquet', ..."
4,House for Rent,"Maharajgunj, Kathmandu",Rs. 12000000,6.0 aana,NaN,20 Feet,South,2.0,4.0,4.0,2071 B.S,4 CaRs. & 5 Bikes,"['Earthquake Resistant', 'Parquet', 'Parking',..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3413,Padma Colony Phase III,"Sitapiala, Kathmandu","Rs. 26,000,000",4.5 aana,NaN,16 Feet,North,2.5,4.0,4.0,2076 B.S,1 Car & 3 Bikes,"['Garage', 'Parking']"
3414,Bhatbhateni Apartment,"Bhatbhateni, Kathmandu","Rs. 30,000,000",4.5 aana,1700 Sq.ft,16 Feet,South,3.0,3.0,3.0,2076 B.S,1 Car & 3 Bikes,"['Garage', 'Parking']"
3415,स्यूचाटार,"Syuchatar, Kathmandu",Rs. 16000000,4.7 aana,1700 Sq.ft,16 Feet,South,2.5,4.0,2.0,2072 B.S,1 Car & 3 Bikes,['Garage']
3416,Sano Bharayang Colony,"Sano Bharayang, Kathmandu",Rs. 3.5 Cr,6.3 aana,3505 Sq.ft,16 Feet,North-West,2.5,5.0,3.0,2077 B.S,2 CaRs. & 7 Bikes,"['Lawn', 'Garage', 'Air Condition', 'Backyard'..."
3417,Buddhanilkatha Banglow,"Budhanilkantha, Kathmandu",Rs. 48000000,8 aana,5 aana,16 Feet,North,2.0,5.0,4.0,2075 B.S,2 CaRs. & 8 Bikes,[]

In [3]:

data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3418 entries, 0 to 3417
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   TITLE         3418 non-null   object
 1   LOCATION      3418 non-null   object
 2   PRICE         3418 non-null   object
 3   LAND AREA     3329 non-null   object
 4   BUILDUP AREA  719 non-null    object
 5   ROAD ACCESS   3409 non-null   object
 6   FACING        3212 non-null   object
 7   FLOOR         3323 non-null   float64
 8   BEDROOM       3136 non-null   float64
 9   BATHROOM      3072 non-null   float64
 10  BUILT YEAR    3357 non-null   object
 11  PARKING       632 non-null    object
 12  AMENITIES     3418 non-null   object
dtypes: float64(3), object(10)
memory usage: 347.3+ KB

Data Cleaning

In [4]:
data.isnull().sum()

TITLE              0
LOCATION           0
PRICE              0
LAND AREA         89
BUILDUP AREA    2699
ROAD ACCESS        9
FACING           206
FLOOR             95
BEDROOM          282
BATHROOM         346
BUILT YEAR        61
PARKING         2786
AMENITIES          0
dtype: int64

In [5]:
data.drop(columns=['TITLE', 'BUILDUP AREA','FACING', 'AMENITIES','PARKING'], inplace=True)

In [6]:
data

,LOCATION,PRICE,LAND AREA,ROAD ACCESS,FLOOR,BEDROOM,BATHROOM,BUILT YEAR
0,"Imadol, Lalitpur",Rs. 2.9 Cr,4.0 aana,12 Feet,3.0,5.0,4.0,2076 B.S
1,"Satdobato, Lalitpur",Rs. 4.75 Cr,3.0 aana,10 Feet,4.5,5.0,6.0,2076 B.S
2,"Imadol, Lalitpur",Rs. 1.99 Cr,2.3 aana,10 Feet,2.5,4.0,4.0,2060 B.S
3,"Bhaisepati, Lalitpur",Rs. 4 Cr,7.0 aana,12 Feet,2.5,4.0,3.0,2059 B.S
4,"Maharajgunj, Kathmandu",Rs. 12000000,6.0 aana,20 Feet,2.0,4.0,4.0,2071 B.S
...,...,...,...,...,...,...,...,...
3413,"Sitapiala, Kathmandu","Rs. 26,000,000",4.5 aana,16 Feet,2.5,4.0,4.0,2076 B.S
3414,"Bhatbhateni, Kathmandu","Rs. 30,000,000",4.5 aana,16 Feet,3.0,3.0,3.0,2076 B.S
3415,"Syuchatar, Kathmandu",Rs. 16000000,4.7 aana,16 Feet,2.5,4.0,2.0,2072 B.S
3416,"Sano Bharayang, Kathmandu",Rs. 3.5 Cr,6.3 aana,16 Feet,2.5,5.0,3.0,2077 B.S
3417,"Budhanilkantha, Kathmandu",Rs. 48000000,8 aana,16 Feet,2.0,5.0,4.0,2075 B.S

RoadAcessColumn manipulate

In [7]:
def clean_road_access(value):
    if pd.isna(value):
        return np.nan 

    # Standardize units
    value = value.lower().replace("feet", "").replace("foot", "").replace("ft", "").replace("'", "").strip()
    value = value.replace("meters", "meter").replace("metres", "meter").replace("meter", "meter ")

    # Convert ranges (e.g., 10-20 Feet or 10/20 Feet) to the average
    if "-" in value:
        parts = value.split("-")
        return round((float(parts[0].strip()) + float(parts[1].strip())) / 2)
    elif "/" in value:
        parts = value.split("/")
        return round((float(parts[0].strip()) + float(parts[1].strip())) / 2)

    # Convert meters to feet
    if "meter" in value:
        meters = float(value.split()[0].strip())
        return round(meters * 3.28084)

    # Handle numeric values
    try:
        return round(float(value.strip()))
    except ValueError:
        return np.nan  


data['ROAD'] = data['ROAD ACCESS'].apply(clean_road_access)


median_value = int(data['ROAD'].median())  # Calculate median and convert to int
data['ROAD'].fillna(median_value, inplace=True)


data['ROAD'] = data['ROAD'].astype(int)
data.drop(columns=['ROAD ACCESS'], inplace=True)

Price Manipulate

In [8]:
data['PRICE'] = data['PRICE'].str.strip()

In [9]:
data = data[~data['PRICE'].str.contains('/')]

def normalize_price(price):
    # Handle values in format "Rs. 12000000" or similar
    if 'Rs.' in price and 'Cr' not in price and 'Lac' not in price:
        value = int(price.replace('Rs.', '').replace(',', '').strip())
        return f"Rs. {value / 10000000:.2f} Cr"  # Convert numeric value to Cr format

    # Handle values already in format "Rs. X Cr" or "Rs. X.Y Cr"
    if 'Cr' in price:
        return price.strip() 

    return None

data['PRICE'] = data['PRICE'].apply(normalize_price)

data = data.dropna(subset=['PRICE'])

In [10]:
data

,LOCATION,PRICE,LAND AREA,FLOOR,BEDROOM,BATHROOM,BUILT YEAR,ROAD
0,"Imadol, Lalitpur",Rs. 2.9 Cr,4.0 aana,3.0,5.0,4.0,2076 B.S,12
1,"Satdobato, Lalitpur",Rs. 4.75 Cr,3.0 aana,4.5,5.0,6.0,2076 B.S,10
2,"Imadol, Lalitpur",Rs. 1.99 Cr,2.3 aana,2.5,4.0,4.0,2060 B.S,10
3,"Bhaisepati, Lalitpur",Rs. 4 Cr,7.0 aana,2.5,4.0,3.0,2059 B.S,12
4,"Maharajgunj, Kathmandu",Rs. 1.20 Cr,6.0 aana,2.0,4.0,4.0,2071 B.S,20
...,...,...,...,...,...,...,...,...
3413,"Sitapiala, Kathmandu",Rs. 2.60 Cr,4.5 aana,2.5,4.0,4.0,2076 B.S,16
3414,"Bhatbhateni, Kathmandu",Rs. 3.00 Cr,4.5 aana,3.0,3.0,3.0,2076 B.S,16
3415,"Syuchatar, Kathmandu",Rs. 1.60 Cr,4.7 aana,2.5,4.0,2.0,2072 B.S,16
3416,"Sano Bharayang, Kathmandu",Rs. 3.5 Cr,6.3 aana,2.5,5.0,3.0,2077 B.S,16
3417,"Budhanilkantha, Kathmandu",Rs. 4.80 Cr,8 aana,2.0,5.0,4.0,2075 B.S,16

In [11]:
data = data.dropna(subset=['PRICE'])
data[['CityExtra', 'City']] = data['LOCATION'].str.split(',', n=1, expand=True)
data.drop(columns=['LOCATION', 'CityExtra'], inplace=True)
data['PRICE'] = data['PRICE'].str.replace('Rs.', '').str.replace('Cr', '').astype(float)
data

      PRICE  LAND AREA  FLOOR  BEDROOM  BATHROOM BUILT YEAR  ROAD         City
0      2.90   4.0 aana    3.0      5.0       4.0   2076 B.S    12     Lalitpur
1      4.75   3.0 aana    4.5      5.0       6.0   2076 B.S    10     Lalitpur
2      1.99   2.3 aana    2.5      4.0       4.0   2060 B.S    10     Lalitpur
3      4.00   7.0 aana    2.5      4.0       3.0   2059 B.S    12     Lalitpur
4      1.20   6.0 aana    2.0      4.0       4.0   2071 B.S    20    Kathmandu
...     ...        ...    ...      ...       ...        ...   ...          ...
3413   2.60   4.5 aana    2.5      4.0       4.0   2076 B.S    16    Kathmandu
3414   3.00   4.5 aana    3.0      3.0       3.0   2076 B.S    16    Kathmandu
3415   1.60  4.7 aana     2.5      4.0       2.0   2072 B.S    16    Kathmandu
3416   3.50   6.3 aana    2.5      5.0       3.0   2077 B.S    16    Kathmandu
3417   4.80     8 aana    2.0      5.0       4.0   2075 B.S    16    Kathmandu

[2638 rows x 8 columns]

In [12]:
data['City'].unique()

array([' Lalitpur', ' Kathmandu', ' Kaski', ' Bhaktapur', ' Rupandehi',
       None, ' Chitwan', ' Dhading', ' Sunsari', ' Morang',
       ' Kavrepalanchok', ' Jhapa', '  Kathmandu', '  Lalitpur',
       '  Swoyambhu ', '  Sitapaila', '  Kathmandu ', '  LALITPUR',
       '  KATHMANDU', '  Sukedhara ', '  IMADOL', '  lalitpur',
       '  BHAKTAPUR', '  Karhmandu', '  Kathmndu', '  kathmandu',
       '  Rumba chowk', '  Narayanthan', '  Kathmandhu'], dtype=object)

In [13]:
data.isnull().sum()

PRICE           0
LAND AREA      17
FLOOR          38
BEDROOM       180
BATHROOM      237
BUILT YEAR     23
ROAD            0
City            7
dtype: int64

In [14]:
data['LAND AREA'].unique()

array(['4.0 aana', '3.0 aana', '2.3 aana', '7.0 aana', '6.0 aana',
       '3.2 aana', '4.3 aana', '2.2 aana', '5.0 aana', '5.2 aana',
       '6.2 aana', '4.2 aana', '4.1 aana', '9.6 aana', '3.1 aana',
       '11.0 aana', '3.3 aana', '9.0 aana', '12 aana', '6.4 aana',
       '12.0 aana', '3.5 aana', '6 aana', '7.1 aana', '6.3 aana',
       '9.3 aana', '9.1 aana', '6.1 aana', '2.9 aana', '7.2 aana',
       '10.2 aana', '8.0 aana', '7.3 aana', '5.1 aana', '10.0 aana',
       '5.3 aana', '2.5 aana', '0.12 kattha', '14.0 aana', '8.2 aana',
       '1.1 aana', '3.8 aana', '13.0 aana', '16.0 aana', '1.9.9 kattha',
       '0.11 kattha', '9.2 aana', '3.4 aana', '2.8 aana', '17.0 aana',
       '1.3 kattha', '3 aana', '11.2 aana', '15.0 aana', '10.3 aana',
       '0.14 kattha', '3.2 kattha', '4 aana', '1.5 kattha', nan,
       '6.7 aana', '4.5 aana', '0.3 aana', '5 aana ', '2.0 aana',
       '8.3 aana', '936 sq. ft', '9.5 aana', '2.3 kattha', '7.5 aana',
       '5.5 aana', '18.0 aana', '8.1 aana', '1.3 aana', '4.0  aana',
       '10.0 kattha', '3.7 aana', '2.7 aana', '3.0 kattha', '0 sq. ft',
       '12.1 aana', '0.15 kattha', '1200 sq. ft', '4800 sq. ft',
       '0.8 kattha', '5 aana', '1100 sq. ft', '21.3 aana', '2.1 aana',
       '4.5 sq. ft', '5.2 kattha', '7.7 aana', '13.3 aana', '15.3 aana',
       '7 aana', '3.3 kattha', '4.4 aana', '6.2 kattha', '15.2 aana',
       '1.0 aana', '0.13 kattha', '2233.81 sq. ft', '0.10 kattha',
       '2.6 aana', '1275 sq. ft', '2 aana', '3 aana ', '13.2 aana',
       '6.5 aana', '10.1 aana', '1.2 aana', '17.2 aana', '2.4 aana',
       '12.2 aana', '8.6 aana', '11.1 aana', '26.0 aana', '6.0 kattha',
       '8 aana', '22.0 aana', '3.75 aana', '7.8 aana', '4.7 aana', '9.25',
       '14.5 aana', '2.5', '16 aana', '14 aana', '4 aana ', '9 aana',
       '20 aana', '4.2', '4.6 aana', '10 aana', '11 aana', '5.4 aana',
       '21 aana', '4.5 aana ', '3.6 aana', '4.7 aana '], dtype=object)

In [15]:
clean_data = data[data['LAND AREA'].str.contains('aana', na=False)].copy()

clean_data.loc[:, 'LAND AREA (AANA)'] = clean_data['LAND AREA'].str.replace(' aana', '', regex=False).astype(float)
clean_data.drop(columns=['LAND AREA'], inplace=True)
clean_data.rename(columns={'LAND AREA (AANA)': 'LAND'}, inplace=True)
clean_data

      PRICE  FLOOR  BEDROOM  BATHROOM BUILT YEAR  ROAD         City  LAND
0      2.90    3.0      5.0       4.0   2076 B.S    12     Lalitpur   4.0
1      4.75    4.5      5.0       6.0   2076 B.S    10     Lalitpur   3.0
2      1.99    2.5      4.0       4.0   2060 B.S    10     Lalitpur   2.3
3      4.00    2.5      4.0       3.0   2059 B.S    12     Lalitpur   7.0
4      1.20    2.0      4.0       4.0   2071 B.S    20    Kathmandu   6.0
...     ...    ...      ...       ...        ...   ...          ...   ...
3413   2.60    2.5      4.0       4.0   2076 B.S    16    Kathmandu   4.5
3414   3.00    3.0      3.0       3.0   2076 B.S    16    Kathmandu   4.5
3415   1.60    2.5      4.0       2.0   2072 B.S    16    Kathmandu   4.7
3416   3.50    2.5      5.0       3.0   2077 B.S    16    Kathmandu   6.3
3417   4.80    2.0      5.0       4.0   2075 B.S    16    Kathmandu   8.0

[2587 rows x 8 columns]

Built Year Column

In [16]:
clean_data.dropna(subset=['BUILT YEAR'], inplace=True)
clean_data['BUILT YEAR'].unique()

array(['2076 B.S', '2060 B.S', '2059 B.S', '2071 B.S', '2074 B.S',
       '2065 B.S', '2066 B.S', '2075 B.S', '2079 B.S', '2070 B.S',
       '2078 B.S', '2077 B.S', '2080 B.S', '2068 B.S', '2073 B.S',
       '2072 B.S', '2063 B.S', '2064 B.S', '2069 B.S', '2055 B.S',
       '2061 B.S', '2058 B.S', '2062 B.S', '2049 B.S', '2047 B.S',
       '2050 B.S', '2054 B.S', '2056 B.S', '2067 B.S', '2052 B.S',
       '2057 B.S', '2060', '2065', '2073', '2075', '2071', '2048 B.S'],
      dtype=object)

In [17]:
current_year = 2081
clean_data['AGE'] = current_year - clean_data['BUILT YEAR'].str.replace(' B.S', '').astype(int)
clean_data.drop('BUILT YEAR', axis=1, inplace=True)

In [18]:
clean_data.duplicated().sum()

np.int64(12)

In [19]:
clean_data.drop_duplicates(inplace=True)

In [20]:
clean_data.isnull().sum()

PRICE         0
FLOOR        28
BEDROOM     141
BATHROOM    194
ROAD          0
City          7
LAND          0
AGE           0
dtype: int64

In [21]:
clean_data

      PRICE  FLOOR  BEDROOM  BATHROOM  ROAD         City  LAND  AGE
0      2.90    3.0      5.0       4.0    12     Lalitpur   4.0    5
1      4.75    4.5      5.0       6.0    10     Lalitpur   3.0    5
2      1.99    2.5      4.0       4.0    10     Lalitpur   2.3   21
3      4.00    2.5      4.0       3.0    12     Lalitpur   7.0   22
4      1.20    2.0      4.0       4.0    20    Kathmandu   6.0   10
...     ...    ...      ...       ...   ...          ...   ...  ...
3413   2.60    2.5      4.0       4.0    16    Kathmandu   4.5    5
3414   3.00    3.0      3.0       3.0    16    Kathmandu   4.5    5
3415   1.60    2.5      4.0       2.0    16    Kathmandu   4.7    9
3416   3.50    2.5      5.0       3.0    16    Kathmandu   6.3    4
3417   4.80    2.0      5.0       4.0    16    Kathmandu   8.0    6

[2552 rows x 8 columns]

In [22]:

whitespace_columns = [col for col in clean_data.columns if clean_data[col].astype(str).str.contains(r'^\s|\s$').any()]
print("\nColumns with whitespace or leading/trailing spaces:", whitespace_columns)

Columns with whitespace or leading/trailing spaces: ['City']

In [23]:
clean_data['City'].unique()

array([' Lalitpur', ' Kathmandu', ' Kaski', ' Bhaktapur', None,
       ' Chitwan', ' Dhading', ' Kavrepalanchok', '  Kathmandu',
       '  Lalitpur', '  Swoyambhu ', '  Sitapaila', '  Kathmandu ',
       '  LALITPUR', '  KATHMANDU', '  IMADOL', '  lalitpur',
       '  BHAKTAPUR', '  Karhmandu', '  Kathmndu', '  kathmandu',
       '  Rumba chowk', '  Narayanthan', '  Kathmandhu'], dtype=object)

In [25]:
clean_data['City'] = clean_data['City'].str.strip()

clean_data['City'] = clean_data['City'].str.lower()

desired_cities = ['kathmandu', 'kaski', 'chitwan', 'lalitpur', 'bhaktapur']
clean_data = clean_data[clean_data['City'].isin(desired_cities)]

clean_data

      PRICE  FLOOR  BEDROOM  BATHROOM  ROAD       City  LAND  AGE
0      2.90    3.0      5.0       4.0    12   lalitpur   4.0    5
1      4.75    4.5      5.0       6.0    10   lalitpur   3.0    5
2      1.99    2.5      4.0       4.0    10   lalitpur   2.3   21
3      4.00    2.5      4.0       3.0    12   lalitpur   7.0   22
4      1.20    2.0      4.0       4.0    20  kathmandu   6.0   10
...     ...    ...      ...       ...   ...        ...   ...  ...
3413   2.60    2.5      4.0       4.0    16  kathmandu   4.5    5
3414   3.00    3.0      3.0       3.0    16  kathmandu   4.5    5
3415   1.60    2.5      4.0       2.0    16  kathmandu   4.7    9
3416   3.50    2.5      5.0       3.0    16  kathmandu   6.3    4
3417   4.80    2.0      5.0       4.0    16  kathmandu   8.0    6

[2530 rows x 8 columns]

In [26]:
clean_data['City'].unique()

array(['lalitpur', 'kathmandu', 'kaski', 'bhaktapur', 'chitwan'],
      dtype=object)