In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

import warnings
warnings.filterwarnings('ignore')
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score
from sklearn.preprocessing import LabelEncoder
from sklearn.ensemble import RandomForestRegressor

from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import GridSearchCV

import pickle

Matplotlib is building the font cache; this may take a moment.

In [2]:
data = pd.read_csv('house.csv')
data

,TITLE,LOCATION,PRICE,LAND AREA,BUILDUP AREA,ROAD ACCESS,FACING,FLOOR,BEDROOM,BATHROOM,BUILT YEAR,PARKING,AMENITIES
0,House for Sale,"Imadol, Lalitpur",Rs. 2.9 Cr,4.0 aana,NaN,12 Feet,West,3.0,5.0,4.0,2076 B.S,1 CaRs. & 2 Bikes,"['Earthquake Resistant', 'Marbel', 'Parquet', ..."
1,House for Sale,"Satdobato, Lalitpur",Rs. 4.75 Cr,3.0 aana,NaN,10 Feet,West,4.5,5.0,6.0,2076 B.S,2 CaRs. & 2 Bikes,"['Earthquake Resistant', 'Parquet', 'Drinking ..."
2,4 BHK House for Sale,"Imadol, Lalitpur",Rs. 1.99 Cr,2.3 aana,NaN,10 Feet,West,2.5,4.0,4.0,2060 B.S,1 CaRs. & 3 Bikes,"['Earthquake Resistant', 'Marbel', 'Parquet', ..."
3,Bungalow House for Sale,"Bhaisepati, Lalitpur",Rs. 4 Cr,7.0 aana,NaN,12 Feet,North-West,2.5,4.0,3.0,2059 B.S,4 CaRs. & 4 Bikes,"['Earthquake Resistant', 'Marbel', 'Parquet', ..."
4,House for Rent,"Maharajgunj, Kathmandu",Rs. 12000000,6.0 aana,NaN,20 Feet,South,2.0,4.0,4.0,2071 B.S,4 CaRs. & 5 Bikes,"['Earthquake Resistant', 'Parquet', 'Parking',..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3413,Padma Colony Phase III,"Sitapiala, Kathmandu","Rs. 26,000,000",4.5 aana,NaN,16 Feet,North,2.5,4.0,4.0,2076 B.S,1 Car & 3 Bikes,"['Garage', 'Parking']"
3414,Bhatbhateni Apartment,"Bhatbhateni, Kathmandu","Rs. 30,000,000",4.5 aana,1700 Sq.ft,16 Feet,South,3.0,3.0,3.0,2076 B.S,1 Car & 3 Bikes,"['Garage', 'Parking']"
3415,स्यूचाटार,"Syuchatar, Kathmandu",Rs. 16000000,4.7 aana,1700 Sq.ft,16 Feet,South,2.5,4.0,2.0,2072 B.S,1 Car & 3 Bikes,['Garage']
3416,Sano Bharayang Colony,"Sano Bharayang, Kathmandu",Rs. 3.5 Cr,6.3 aana,3505 Sq.ft,16 Feet,North-West,2.5,5.0,3.0,2077 B.S,2 CaRs. & 7 Bikes,"['Lawn', 'Garage', 'Air Condition', 'Backyard'..."
3417,Buddhanilkatha Banglow,"Budhanilkantha, Kathmandu",Rs. 48000000,8 aana,5 aana,16 Feet,North,2.0,5.0,4.0,2075 B.S,2 CaRs. & 8 Bikes,[]

In [3]:

data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3418 entries, 0 to 3417
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   TITLE         3418 non-null   object
 1   LOCATION      3418 non-null   object
 2   PRICE         3418 non-null   object
 3   LAND AREA     3329 non-null   object
 4   BUILDUP AREA  719 non-null    object
 5   ROAD ACCESS   3409 non-null   object
 6   FACING        3212 non-null   object
 7   FLOOR         3323 non-null   float64
 8   BEDROOM       3136 non-null   float64
 9   BATHROOM      3072 non-null   float64
 10  BUILT YEAR    3357 non-null   object
 11  PARKING       632 non-null    object
 12  AMENITIES     3418 non-null   object
dtypes: float64(3), object(10)
memory usage: 347.3+ KB

Data Cleaning

In [4]:
data.isnull().sum()

TITLE              0
LOCATION           0
PRICE              0
LAND AREA         89
BUILDUP AREA    2699
ROAD ACCESS        9
FACING           206
FLOOR             95
BEDROOM          282
BATHROOM         346
BUILT YEAR        61
PARKING         2786
AMENITIES          0
dtype: int64

In [5]:
data.drop(columns=['TITLE', 'BUILDUP AREA','FACING', 'AMENITIES','PARKING'], inplace=True)

In [6]:
data

,LOCATION,PRICE,LAND AREA,ROAD ACCESS,FLOOR,BEDROOM,BATHROOM,BUILT YEAR
0,"Imadol, Lalitpur",Rs. 2.9 Cr,4.0 aana,12 Feet,3.0,5.0,4.0,2076 B.S
1,"Satdobato, Lalitpur",Rs. 4.75 Cr,3.0 aana,10 Feet,4.5,5.0,6.0,2076 B.S
2,"Imadol, Lalitpur",Rs. 1.99 Cr,2.3 aana,10 Feet,2.5,4.0,4.0,2060 B.S
3,"Bhaisepati, Lalitpur",Rs. 4 Cr,7.0 aana,12 Feet,2.5,4.0,3.0,2059 B.S
4,"Maharajgunj, Kathmandu",Rs. 12000000,6.0 aana,20 Feet,2.0,4.0,4.0,2071 B.S
...,...,...,...,...,...,...,...,...
3413,"Sitapiala, Kathmandu","Rs. 26,000,000",4.5 aana,16 Feet,2.5,4.0,4.0,2076 B.S
3414,"Bhatbhateni, Kathmandu","Rs. 30,000,000",4.5 aana,16 Feet,3.0,3.0,3.0,2076 B.S
3415,"Syuchatar, Kathmandu",Rs. 16000000,4.7 aana,16 Feet,2.5,4.0,2.0,2072 B.S
3416,"Sano Bharayang, Kathmandu",Rs. 3.5 Cr,6.3 aana,16 Feet,2.5,5.0,3.0,2077 B.S
3417,"Budhanilkantha, Kathmandu",Rs. 48000000,8 aana,16 Feet,2.0,5.0,4.0,2075 B.S